*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(236, 134, 9);
}

ul,li{

    margin-left: 40px;
}
a{
    color: black;
    text-decoration: none;

}

h2{
    color: rgb(0, 0, 0);
    margin-left: 50px;
    line-height: 60px;
font-style: italic;
}

h4{
    color: blanchedalmond;
    margin-left: 5px;
    margin-top: 80px;
    
}

p{
    width: 500px;
    margin-left: 20px;
    text-indent: 2em;
}
table{
    /* border: 3px solid; */
    margin-left: 20px;
    margin-top: 9px;
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);


}
td{
    text-align: center;
    width: 200px;
    height: px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;
}

img{
    width: 100px;
    padding: 0px ;
}

.foto{
    width: 100px;
}

footer{
    background-color: rgb(162, 165, 165);
    align-items: center;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
